.container > .new-tweet {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-right: 25px;
}

.new-tweet #error-message {
  border: 3px solid red;
  color: red;
  display: none;
  margin: 15px;
  padding: 10px;
}

.new-tweet form {
  width:100%;
}

.new-tweet .footer {
  display: flex;
  font-family: 'Bungee';
  justify-content:  space-between;
  margin: 15px;
  width: 100%;
}

.new-tweet .footer > button {
  border: none;
  color: #FFF;
  background-color: #4056A1;
}

.new-tweet .footer > .counter.red {
  color: red;
}

#tweet-text {
  background-color: inherit;
  border: none;
  border-bottom: 3px solid #545149;
  font-weight: bold;
  margin: 15px;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .container {
    margin: 250px 50px 50px;
    width: 60%;
  }
}