.tweet {
  border: 3px solid #545149;
  margin: auto;
  margin-bottom: 15px;
  padding: 15px;
  width: 900px;
}

.tweet:hover {
  box-shadow: 5px 5px 5px 5px lightgray;
}

.tweet header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.tweet header > .user {
  align-items: center;
  display: flex;
}

.tweet header .handle {
  color: lightgray;
  font-weight: 600;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
}

.tweet header span > .user-icon {
  height: 50px;
  width: 50px;
}

.tweet footer > .date {
  font-size: 18px;
  font-weight: 600;
}

.tweet .user .name {
  padding-left: 15px;
}

.tweet .tweet-body {
  font-weight: 600;
}

.tweet footer .fas:hover {
  color: #4056A1;
}