.tweet-container {
  border: 3px solid #545149;
  margin: auto;
  padding: 15px;
  width: 900px;
}

.tweet-container:hover {
  box-shadow: 5px 5px 5px 5px lightgray;
}

.tweet-container header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.tweet-container header > .user {
  align-items: center;
  display: flex;
}

.tweet-container header .handle {
  color: lightgray;
  font-weight: 600;
}

.tweet-container footer {
  display: flex;
  justify-content: space-between;
}

.tweet-container header span > .user-icon {
  height: 50px;
  width: 50px;
}

.tweet-container footer > .date {
  font-size: 18px;
  font-weight: 600;
}

.tweet-container .tweet-body {
  font-weight: 600;
}

.tweet-container footer .fas:hover {
  color: #4056A1;
}